.container{
    display: flex;
      flex-direction: column;
      align-items: center;
     margin-bottom: 50px;
     
  }

  .container button{
    width: 90px;
    height: 50px;
  }

  .table {
    width: 100%; 
    text-align: center;
    table-layout: fixed; 
  }
  
  .table th,
  .table td {
    width: 16.67%; 
   
   
  }

  .table td{
    border-top:1px solid lightcyan ;
    border-bottom: 1px solid lightcyan;
    padding-top: 20px;
    padding-bottom: 20px;
  }

